<!--app-add-assignment (nouvelAssignment)="onNouvelAssignement($event)"      
 *ngIf="formVisible">
</app-add-assignment-->

<main class="container">
    <a routerLink="/add" class="ajouterBtn">
        <button mat-flat-button color="accent">
            Ajouter Assignment
        </button>
    </a>
    <h2>Liste des devoirs:</h2>
    <mat-list *ngFor="let assignement of assignements">
        <h3 mat-subheader>{{assignement.dateRendu | date:"dd/MM/yy"}}</h3>
        <mat-list-item (click)="assignmentClique(assignement)">
            <p *ngIf="assignement.rendu;else nonsoumis" appRendu>
                Devoir intitulé {{assignement.nom}}.
            </p>
            <ng-template #nonsoumis>
                <p appNonRendu>Le devoir {{assignement.nom}} n'a pas encore été rendu.</p>
            </ng-template>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <app-assignments-detail [assignmentTransmis]="assignmentSelectionne"
        (deleteAssignment)="onDeleteAssignment($event)"></app-assignments-detail>
</main>