<!--app-add-assignment (nouvelAssignment)="onNouvelAssignement($event)"      
 *ngIf="formVisible">
</app-add-assignment-->

<main class="container">
    <a routerLink="/add" class="ajouterBtn">
        <button mat-flat-button color="accent">
            Ajouter Assignment
        </button>
    </a>
    <h2>Liste des devoirs:</h2>

    <div class="barrePagination">
        <p>Page actuelle: {{page}}, assignments visibles: {{pagingCounter}} - {{pagingCounter + limit-1}}, nbPages Total{{totalPages}} </p> 
        <p>Nb d'assignments par page: <input type="range" min=5 max=100 [(ngModel)]="limit" (change)="getAssignments()">
            {{limit}}
        </p>
        <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Premiere page</button>
        &nbsp;
        <button mat-raised-button color="primary" 
        (click)="pagePrecedente()" 
        [disabled]="!hasPrevPage"
        >Page précédente</button>
        &nbsp;
        <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">Page suivante</button>
        &nbsp;
        <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="dernierePage()">Dernière page</button>
    </div>

    <mat-tab-group>
    <mat-tab label="Assignments non rendu">  
        <mat-card *ngFor="let assignement of assignements">
            <nav>
                <a routerLink="/assignment/{{assignement.id}}">

                <mat-card-title>{{assignement.nom}}</mat-card-title>
                    <h3 mat-subheader>{{assignement.dateDeRendu | date:"dd/MM/yy"}}</h3>
                    <mat-list-item>
                        <p *ngIf="assignement.rendu;else nonsoumis" appRendu>
                            Devoir intitulé {{assignement.nom}} rendu.
                        </p>
                        <ng-template #nonsoumis>
                            <p appNonRendu>Le devoir {{assignement.nom}} n'a pas encore été rendu.</p>
                        </ng-template>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </a>
            </nav>
            
            <br>
            <br>
            
        </mat-card>
    </mat-tab>

    <mat-tab label="Assignments rendu">  

        <mat-card *ngFor="let assignement of assignements">
            <nav *ngIf="assignement.rendu">
                <a routerLink="/assignment/{{assignement.id}}">

                <mat-card-title>{{assignement.nom}}</mat-card-title>
                    <h3 mat-subheader>{{assignement.dateDeRendu | date:"dd/MM/yy"}}</h3>
                    <mat-list-item>
                        <p>
                            Devoir intitulé {{assignement.nom}} rendu.
                        </p>
                        <ng-template #nonsoumis>
                            <p appNonRendu>Le devoir {{assignement.nom}} n'a pas encore été rendu.</p>
                        </ng-template>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </a>
            </nav>
            
            <br>
            <br>
            
        </mat-card>
    </mat-tab>
    </mat-tab-group>


    
</main>