<div class="container">
    <h1>
        <nav routerLink="/home">{{titre}}</nav>
    </h1>
        
<button mat-raised-button color="primary" (click)="onClickConnecter()" [disabled]="isLogged()">
     Se connecter
</button>
&nbsp;
<button mat-raised-button color="warn" (click)="onClickDeconnecter()" [disabled]="!isLogged()">
    Deconnexion
</button>


    
<!--button mat-button color="primary" (click)="genereDonneesDeTest()">peupler BD avec donnees de test</button-->
</div>
<!--app-assignments></app-assignments-->
<router-outlet></router-outlet>  

